fastapi
uvicorn
pydantic
langchain
langchain-text-splitters
openai
python-dotenv
PyPDF2
langchain-openai
langchain-chroma
chromadb
pika    
prometheus-fastapi-instrumentator
langgraph
langchain-community
duckduckgo-search>=5.0.0
ddgs
mcp
uv